@media screen and (min-width: 1921px) {

	#intro{
		#intro-content{
			transform: scale(1.4);
		}
	}

	#credits{

    #credits-content{
        max-width: 1120px;
        
        h1{
            font-size: 45px;
        }

        #credits-back-button{
            transform: scale(1.4);
        }
        h2{
            font-size: 21px;
        }

        h3, h3 a{
            font-size: 21px;
            letter-spacing: 1px;
            
        }


	    }
	}

	#end{

	    #end-content{
	        max-width: 1120px;
			


	        h1:nth-child(1){
	            font-size: 63px;

	        }

	        h1:nth-child(2){
	            font-size: 63px;
	           
	        }

	        h2{
	            color: white;
	            font-family: mikadomedium;
	            font-size: 18px;
	        }

	        h3{
	            font-size: 25px; 
	        }


    }


	}


}