@media screen and (orientation : portrait), (max-width : 768px) {

	#error{
		    background-color: #2a3257;
		    position:absolute;
		    height: 100%;
		    width: 100%;
		    z-index: 30;
		    display: block;

		#logo{
			text-align: center;
			margin-top: 50px;
			h2{
		        font-family: 'charcuterie_cursiveregular';
	            font-size: 30px;
	            color: white;
	            position: relative;
				

	        }
	
			h1{
				font-family: 'mikadobold';

	            font-size: 45px;
	            color: white;

	        }
		}

		#error-content{
			width: 300px;
			margin-left: auto;
			margin-right: auto;
			font-family: 'mikadobold';
			margin-top: 100px;

			h3{
				color: #a39eb2;
				margin-top: 15px;
				text-align: center;
			}


		}
					img{
				margin-left: auto;
			    width: 100px;
			    margin-right: auto;
			    display: inherit;
			    margin-top: 35px;
			}





	}
}

@media screen and (max-width : 760px) {
	
	#intro,canvas,svg,#error{
		display: none!important;
	}

	#errorMobile{
		display: block;
	    background-image: url(../../src/img/0_FOND_MOBILE_VERTICAL.jpg);
	    background-color: #2a3257;
	    position: absolute;
	    height: 100%;
	    width: 100%;
	    z-index: 60;
	    display: block;
	    background-size: cover;
	  

		#logo{
			text-align: center;
			margin-top: 50px;
			h2{
		        font-family: 'charcuterie_cursiveregular';
	            font-size: 30px;
	            color: white;
	            position: relative;
				

	        }
	
			h1{
				font-family: 'mikadobold';

	            font-size: 45px;
	            color: white;

	        }
		}

		#error-content{
			width: 300px;
			margin-left: auto;
			margin-right: auto;
			font-family: 'mikadobold';
			margin-top: 30px;

			*{
				margin-top: 10px;
			}

			h3{
				color: #a39eb2;
				margin-top: 15px;
				text-align: center;

				a{
		
					color: #ffa87a;
				}
			}

			h2{
				text-align: center;
				font-family: 'charcuterie_cursiveregular';
				color: white;
			}


		}
					img{
				margin-left: auto;
			    width: 100px;
			    margin-right: auto;
			    display: inherit;
			    margin-top: 35px;
			}





	}
	
}

@media screen and (max-width : 760px) and (orientation : landscape){

	
	#intro,canvas,svg,#error{
		display: none!important;
	}

	body,html{
		height: 100%;
		width: 100%;
		overflow: hidden;
		margin:0;
		padding: 0;
	}

	#intro{
		display: none;
	}

	#error{
		display: none;
	}
	


	#errorMobile{
		display: block;
		height: 100%;
		width: 100%;
		overflow: hidden;
	    background-image: url(../../src/img/0_FOND_MOBILE_HORIZONTAL.jpg);

	    h2{
	    	color: white;
	    }
	}
}

#old{
	display: none;
}

body.old{

	
	#intro,canvas,svg,#error{
		display: none!important;
	}

	#old{
		display: block;
	    background-image: url(../../src/img/0_FOND_MOBILE_VERTICAL.jpg);
	    background-color: #2a3257;
	    position: absolute;
	    height: 100%;
	    width: 100%;
	    z-index: 40;
	    display: block;
	    background-size: cover;
	  

		#logo{
			text-align: center;
			margin-top: 50px;
			h2{
		        font-family: 'charcuterie_cursiveregular';
	            font-size: 30px;
	            color: white;
	            position: relative;
				

	        }
	
			h1{
				font-family: 'mikadobold';

	            font-size: 45px;
	            color: white;

	        }
		}

		#old-content{
			width: 800px;
			margin-left: auto;
			margin-right: auto;
			font-family: 'mikadobold';
			margin-top: 190px;

			*{
				margin-top: 10px;
			}

			h3{
				color: #a39eb2;
				margin-top: 15px;
				text-align: center;
				
				&:nth-child(2){
				margin-top: 15px;
				}

				a{
		
					color: black;
				}
			}

			h2{
				text-align: center;
				font-family: 'charcuterie_cursiveregular';
				color: white;
			}


		}
					img{
				margin-left: auto;
			    width: 100px;
			    margin-right: auto;
			    display: inherit;
			    margin-top: 35px;
			}





	}

}


	
