/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "font.scss";


$orange : #ffa87a;
$lightOrange : #f0b942;
$blue : #26283f;
$skyBlue : #4a5172;
$lightBlue : #a39eb2;
$deepBlue: #2a3257;
$yellow : #FDE9AA;
$white : #FFFFFF;
$black : #000000;
$grey : #797979;

@keyframes load {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}

@keyframes borderHover {
  from {
    width:0%;
  }
  
  to {
    width:100%;
  }
}

@keyframes borderHoverBack {
  from {
    width:0%;
  }
  
  to {
    width:70%;
  }
}

@keyframes postcard {
  0%{
    transform: rotateY(0deg) rotateX(0deg);
  }
  
  50% {
    transform: rotateY(90deg) rotateX(0deg);
  }

  100%{
     transform: rotateY(180deg) rotateX(0deg);
  }
}

@keyframes postcardPosted{
  0%{
    transform: translateY(0px) scale(0.9);
  }
  
  10% {
    transform: translateY(-10px) scale(0.9);
  }

  30%{
    transform: translateY(1000px) scale(0.9);
  }

  100%{
    transform: translateY(1000px) scale(0.9);
  }
}

*:not(textarea){
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body.isIpad *{
    transition: none!important;
}

.ui{
	width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.wrapper{
	position:relative;
}

canvas{
	overflow:hidden;
	vertical-align: bottom;
    position: absolute;
    z-index: 1;

}

#cut-off-bottom{
    height: 400px;
    width: 100px;
    position: absolute;
    left: 25%;
}

svg{
    z-index: 2;
    position: absolute;
}

#error, #errorMobile{
    display: none;
}

#intro{
    background-color: $yellow;
    background-image: url(../../src/3d/textures/1_desk/Laptop_wall.jpg);
    background-size:cover;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    display: block;

    #intro-content{
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 500px;

        h2{
            font-family: 'charcuterie_cursiveregular';
            font-size: 35px;
            color: $grey;
            opacity: 0;
        }

        span{
            font-family: 'mikadobold';
            font-size: 100px;
            color: $orange;
            position: relative;
            top:-150px;
            opacity: 0;

        }

        #intro-sub-title{
            background-image: url(../../src/img/11_END_background.png);
            width: 200px;
            height: 65px;
            background-position: -140px -1830px, center center;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #loading{
            background-image: url(../../src/img/11_END_background.png);
            width: 200px;
            height: 70px;
            background-position: -443px -1814px, center center;
            margin-left: auto;
            margin-right: auto;
            opacity: 0;

            #loading-circle{
                background-image: url(../../src/img/11_END_background.png);
                width: 44px;
                height: 44px;
                background-position: -733px -1826px, center center;
                animation-duration: 1s;
                animation-name: load;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                float: left;
                margin-left: 76px;
                margin-top: 11px;
            }    
    }

    #ipadButton{
        display: none;
        font-family: 'mikadobold';
        color: $yellow;
        background-color: #6e6a78;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        height: 70px;
        margin-top: 190px;
        line-height: 70px;
        border-radius: 12px;
    }

    #intro-cloud-1{
        background-image: url(../../src/img/11_END_background.png);
        width: 300px;
        height: 100px;
        background-position: -70px -920px, center center;
        margin-right: auto;
        position: relative;
        margin-top: -180px;
        margin-left: -160px;

    }

    #intro-cloud-2{
        background-image: url(../../src/img/11_END_background.png);
        width: 300px;
        height: 100px;
        background-position: -658px -1178px, center center;
        margin-left: auto;
        position: relative;
        margin-top: -180px;
        margin-right: -160px;

    }

}

#flash{
    background-color: $white;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 50;
    display: none;

}

#credits{
    background-color: $blue;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 5;
    display: none;

    #credits-left,#credits-right{
        position: absolute;
        height: 100%;
        width: 39%;

    }
    #credits-right{
        right: 0;
    }

    #credits-content{
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
        h1{
            font-size: 32px;
            margin-top: 60px;
        }

        #credits-back-button{
            display: inline-block;
            font-size: 15px;
            margin-top: 40px;
            padding: 35px;
            cursor: pointer;
            position: relative;
            
                &:after{
                    content: "";
                    width: 70%;
                    position: absolute;
                    height: 100%;
                    border-bottom: solid;
                    margin-top: -68px;
                    margin-left: -70%;


                }
                &:hover{
                    &:after{
                        animation-duration: 1s;
                        animation-name: borderHoverBack; 
                    };
                }
        }

        h1,#credits-back-button{
            color:$white;
            font-family: 'mikadobold';

            

        }

        h2{
            color:$orange;
            font-family: 'mikadobold';
            font-size: 15px;
            letter-spacing: 1px;
            margin-top: 40px;
        }

        h3, h3 a{
            font-family: 'mikadomedium';
            color: $lightBlue;
            font-size: 15px;
            letter-spacing: 1px;
            margin-top: 18px;
            text-decoration: none;
        

            
        }

        h3{
                a{
                position:relative;
                &:hover{
                    &:after{
                        animation-duration: 1s;
                        animation-name: borderHover; 
                    };
                }

                &:after{
                    content: "";
                    width: 100%;
                    position: absolute;
                    height: 100%;
                    margin-left: -100%;
                    border-bottom: solid;


                }
            }
        }


    }
}

#jumelles{
    position:absolute;
    height: 100%;
    width:100%;
    z-index: 2;
    display: none;

    #jumelles-left{
        height: 100%;
        width: 50%;
        background-image: -webkit-radial-gradient(75% 50%, circle, transparent 250px, rgba(0,0,0,0.5) 105px, rgba(79, 83, 108, 1) 0);
        background-image: -moz-radial-gradient(75% 50%, circle, transparent 250px, rgba(0,0,0,0.5) 105px, rgba(79, 83, 108, 1) 0);
        background-image: radial-gradient(75% 50%, circle, transparent 250px, rgba(0,0,0,0.5) 105px, rgba(79, 83, 108, 1) 0);
        float: left;
    }
    #jumelles-right{
        content:'';
        height: 100%;
        width: 50%;
        float: left;
        background-image: -webkit-radial-gradient(25% 50%, circle, transparent 250px, rgba(0,0,0,0.5) 105px, rgba(79, 83, 108, 1) 0);
        background-image: -moz-radial-gradient(25% 50%, circle, transparent 250px, rgba(0,0,0,0.5) 105px, rgba(79, 83, 108, 1) 0);
        background-image: radial-gradient(25% 50%, circle, transparent 250px, rgba(0,0,0,0.5) 105px, rgba(79, 83, 108, 1) 0);
    
    }
   
}

#postcard{
    // pointer-events: none;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    display: none;
    background-color: rgba(1,1,1,0);
    transition: background-color 1s;
    
    &.rotated{  
        background-color: rgba(1,1,1,0.5);
        #postcard-content{

            &.posted{
                        

                animation-name: postcardPosted;
                animation-duration: 3s;
                animation-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);           
               // transform: translateY(1000px)!important;
            }

            backface-visibility: initial;
            transform: rotateY(0deg) scale(0.9)!important;
            transition: none;

            #postcard-front{
                display: none;
                transition: none;
            }

            #postcard-back{

                transform: rotateY(0deg)!important;
                backface-visibility: initial;
                transition: none;
                &:after{
                    content: none;
                }

            }
        }
    }

    #thnks{
        display: none;
    }

    #postcard-content{
        background-color: $white;
        width: 837px;
        height: 527px;
        margin-left: auto;
        margin-right: auto;
        transform-style: preserve-3d;
        transition: transform 1s ease;
        backface-visibility: hidden;

        &.rotated{
            // animation-duration: 1s;
            // animation-name: postcard; 
            transform: rotateY(180deg) scale(0.9);
                #postcard-front{
                    &:after{
                      //  opacity: 1;
                    }
                }


                #postcard-back{
                    &:after{
                        opacity: 0;
                    }
                }
        }

        #postcard-front{
            backface-visibility: hidden;

            img{
                width: 95%;
                margin: 2.5%;
            }

            &:after{
                transition: opacity 1s ease;
                content: "";
                opacity: 0;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: 4;
                background-color: $black;
            }
        }

        #postcard-back{
            background-color: white;
            backface-visibility:hidden;
            transform: rotateY(180deg);
            display: block;
            box-sizing: border-box;
            position:absolute;
            width: 100%;
            height: 100%;

            &:after{
                transition: opacity 1s ease;
                content: "";
                opacity: 1;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                position: absolute;
                z-index: 4;
                background-color: $black;
            }

            #postcard-back-content{
                width: 600px;
                margin-left: auto;
                text-align: center;
                margin-right: auto;
                margin-top: 75px;

                img{
                    position: absolute;
                    right: 30px;
                    top: 30px;
                }

                h1{
                    font-family: mikado;
                    letter-spacing: 2px;
                    font-size: 25px;
                    color: $lightOrange;
                }

                h2{
                    color: $grey;
                    letter-spacing: 1px;
                    font-family: mikado;
                    margin-top: 17px;

                    display: none;
                    transition: opacity 1s;


                        &.display{
                            display: block;
                            transition: opacity 1s;
                        }

                        &#postcard-error{
                            color: #e75305;
                        }

                        &#thnks{
                            color: #e75305;
                            margin: 160px 0px 70px;
                            font-size: 35px;
                        }
                }

                textarea{
                    width: 89%;
                    height: 200px;
                    margin: 2%;
                    background-image: linear-gradient(white, white 34px, #ccc 30px, #ccc 36px, white 34px);
                    background-size: 100% 50px;
                    border: none;
                    overflow: auto;
                    outline: none;
                    box-shadow: none;
                    line-height: 49px;
                    font-size: 25px;
                    font-family: mikado;
                    color: #797979;
                    resize: none;
                }

                ul{
                    li{
                        display: inline-block;
                        font-family: mikado;
                        margin: 0px 60px;
                        border-color: $deepBlue;
                        font-size: 13px;
                        opacity: 1;
                        transition: opacity 1s;
                        transition: all 1s;
                        cursor: pointer;
                        position: relative;
                        
                          &:after{
                            content: "";
                            width: 100%;
                            position: absolute;
                            height: 100%;
                            border-bottom: solid;
                            margin-left: -100%;
                            border-width: 1px;

                        }
                        &:hover{
                            &:after{
                                animation-duration: 1s;
                                animation-name: borderHover; 
                            };
                        }

                        a{
                            transition: all 1s;
                            color: $deepBlue;
                            text-decoration: none;
                        }
                    }
                }

                #postcard-continue-button{
                    display: inline-block;
                    font-family: mikado;
                    font-size: 16px;
                    cursor: pointer;
                    color: $white;
                    position: relative;
                    padding: 20px;
                    border-radius: 9px;
                    margin-top: 45px;
                    transition: all 1s ease;
                    
                    &:hover{

                        &:after{
                            opacity: 0;
                        }
                        &:before{
                            opacity: 1;
                        }
                    }

                    &:after{
                        transition: all 1s ease;
                        content: "";
                        opacity: 1;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;   
                        background-image: url(../../src/img/0_bouton_postcard.png);
                        background-size: cover;
                    }

                    &:before{
                        transition: all 1s ease;
                        content: "";
                        opacity: 1;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        position: absolute;
                        z-index: -1;   
                        background-image: url(../../src/img/0_bouton_postcard_rollover.png);
                        background-size: cover;
                    }
                   
                }
            }

        }
    }
}

body.isIpad{
    #end{
        #end-content{
            h1{
                span{
                    opacity: 1;
                }
            }
            h1{
                opacity: 1;
            }

            #end-reset-button{
                opacity: 1;
            }

        }
    }
}

#end{

    background-color: $skyBlue;
    position:absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
    display: none;
    
    

    &:after{
        content: '';
        position:absolute;
        width: 70%;
        height: 70%;
        top: 15%;
        left: 15%;
        background-image: url(../../src/img/11_END_background.png);
        background-repeat:no-repeat;
        background-size: cover;
        z-index: -1;
    }

    .end-back-element{
        position:absolute;
        background-image: url(../../11_END_background.png)
    }

    #end-content{
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
        h1,h2,h3,a{
            margin-top: 30px;
        }

        h1{
            span{
                opacity: 0;
            }
        }



        h1:nth-child(1){
            font-family: 'charcuterie_cursiveregular';
            font-size: 45px;
            color: $white;
            opacity: 0;
        }

        h1:nth-child(2){
            font-family: 'mikadobold';
            font-size: 45px;
            color: $orange;
            line-height: 60px;
            
            span:nth-child(13),
            span:nth-child(14),
            span:nth-child(15),
            span:nth-child(16),
            span:nth-child(17),
            span:nth-child(18),
            span:nth-child(19),
            span:nth-child(35),
            span:nth-child(36),
            span:nth-child(37),
            span:nth-child(38),
            span:nth-child(39),
            span:nth-child(40),
            span:nth-child(41),
            span:nth-child(42),
            span:nth-child(43),
            {
                color: $lightBlue;
            }
        }

        h2{
            color: white;
            font-family: mikadomedium;
            font-size: 18px;
        }

        h3{
            font-size: 18px;
            color: white;
            font-family: mikadomedium;
            margin-bottom: 25px;
            height: 0px;
            overflow: hidden;   
        }

        ul{
            li{
                display: inline-block;
                margin-top: 30px;
                margin: 30px 12.5px;

                a{
                    color: black;
                    padding: 23px;
                    border: solid 2px;
                    float: left;
                    border-radius: 360px;
                    background-position: 9px;
                    background-size: 28px;
                    background-repeat: no-repeat;
                    transition: background-color 0.4s;

                }

                &:nth-child(1){
                     

                     a{
                        background-image: url(../img/0_twitter_b.png);
                     }

                     &:hover{
                        a{
                            background-color: black;
                            background-image: url(../img/0_twitter.png);
                        }
                     }
                }

                &:nth-child(2){
                    a{

                        background-image: url(../img/0_facebook_b.png);  
                    }

                    &:hover{
                        a{
                            background-image: url(../img/0_facebook.png); 
                            background-color:black;
                        }
                    }
                     
                }
            }


        }


       #end-reset-button{
            font-family: mikadomedium;
            border-bottom: solid 2px;
            color: $lightBlue;
            display: inline-block;
            cursor: pointer;
            opacity: 0;
       }

    }

    #end-cloud-1{
            background-image: url(../../src/img/11_END_background.png);
            width: 300px;
            height: 100px;
            background-position: -70px -920px, center center;
            margin-right: auto;
            position: relative;
            margin-top: -500px;
            margin-left: -80px;
            transform: scale(1.6);
            opacity: 0.1;

    }

    #end-cloud-2{
            background-image: url(../../src/img/11_END_background.png);
            width: 300px;
            height: 100px;
            background-position: -658px -1178px, center center;
            margin-left: auto;
            position: relative;
            margin-top: 390px;
            opacity: 0.1;
            transform: scale(1.6);

    }

}


#ui{
    position: absolute;
    bottom: 9px;
    margin: 30px;
    width: calc(100% - 60px);
    z-index: 4;
    margin-bottom: 0px;

    *{
        font-family: mikadomedium;
    }

    li{
        line-height: 32px;
        cursor: pointer;
        font-size: 11px;
    }

    #ui-left{
        float: left;

        li{
            float: left;
            margin: 0px 10px;

            &:nth-child(1){
                a{
                    font-family: 'mikadobold';
                    text-decoration: none;
                    color: black;
                }
                
            }

            &:nth-child(3){
                position:relative;
                  &:after{
                    content: "";
                    width: 100%;
                    position: absolute;
                    height: 100%;
                    border-bottom: solid;
                    margin-left: -100%;
                    margin-top: -9px;


                }
                &:hover{
                    &:after{
                        animation-duration: 1s;
                        animation-name: borderHover; 
                    };
                }
            }
        }
    }

    #ui-right{
        float: right;

        li{
            float: right;
            margin: 0px 5px;
            
            &:nth-child(3){
                cursor: default;
            }

            &:nth-child(1),&:nth-child(2){
                a{
                    color: black;
                    padding: 12px;
                    border: solid 2px;
                    float: left;
                    border-radius: 360px;
                    background-position: 5px;
                    background-size: 14px;
                    background-repeat: no-repeat;
                    
                    transition: background-color 0.4s;
                }

            }

            &:nth-child(1){
                a{
                    background-image: url(../img/0_twitter_b.png);
                    
                    &:hover{
                        background-image: url(../img/0_twitter.png);
                        background-color: black;
                    } 
                } 
            }

            &:nth-child(2){
                a{
                    background-image: url(../img/0_facebook_b.png);
                    
                    &:hover{
                        background-image: url(../img/0_facebook.png);
                        background-color: black;
                    }
                } 
            }

            &:nth-child(5){
                a{
                    background-image: url(../img/0_sound_on.png);
                    padding: 12px;
                    float: left;
                    background-position: 4px;
                    background-size: 18px;
                    background-repeat: no-repeat;
                    margin-top: 3px;
                    
                    
                }
                &.off{
                    a{
                        background-image: url(../img/0_sound_off.png); 
                    }
                        
                }
            }
                
                // &:hover{
                //     background-color: $black;
                //     background-image: url(../img/0_twitter.png);
                // }
            


        }
    }
}



@import "large.scss";
@import "mobile.scss";
