<div id="credits">
	<div id = "credits-left"></div>
	<div id = "credits-right"></div>
	<div id="credits-content">
		<h1>credits</h1>
			<h2>INTERACTIVE DIRECTION & PRODUCTION</h2>
				<h3><a href="http://www.cher-ami.tv" target="_blank">CHER AMI</a></h3>
			<h2>3D & ILLUSTRATION</h2>
				<h3><a href="http://www.benoitchalland.com/" target="_blank">BENOIT CHALLAND</a></h3>
			<h2>MUSIC</h2>
				<h3>KLIMPEREI & GNG</h3>
				<h3>Alfred Très En Vacances</h3>
				<h3>Album "Alfred" released on MonsterK7</h3>
				<h3><a href="http://monsterk7.com/alfred/" target="_blank">http://monsterk7.com/alfred/</a></h3>
		<a id="credits-back-button">BACK TO THE JOURNEY</a>
	</div>
</div>