<div id="end">
			<div id="end-stars"></div>

	<div id="end-content">
		<h1>For 2016</h1>
		<h1><span>W</span><span>E</span><span>&nbsp;</span><span>W</span><span>I</span><span>S</span><span>H</span><span>&nbsp;</span><span>Y</span><span>O</span><span>U</span><span>&nbsp;</span><span>T</span><span>O</span><span>&nbsp;</span><span>L</span><span>I</span><span>V</span><span>E</span><span>&nbsp;</span><span>E</span><span>A</span><span>C</span><span>H</span><span>&nbsp;</span><span>D</span><span>A</span><span>Y</span><span>&nbsp;</span>
			<span>A</span><span>S</span><span>&nbsp;</span><span>A</span><span>&nbsp;</span><span>W</span><span>O</span><span>N</span><span>D</span><span>E</span><span>R</span><span>F</span><span>U</span><span>L</span><span>&nbsp;</span><span>J</span><span>O</span><span>U</span><span>R</span><span>N</span><span>E</span><span>Y</span>
		</h1>
		<h3>Don't hesitate to spread the word</h3>
		<ul>
			<li><a target="_blank" href="http://twitter.com/share?text=Take a deep breath to begin 2016 and enjoy the ride&url=http://ashortjourney.com&hashtags=AShortJourney"></a></li>
			<li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fashortjourney.com"></a></li>
		</ul>
		<a id="end-reset-button">Start another journey</a>
		

	</div>
			<div id="end-cloud-1"></div>
		<div id="end-cloud-2"></div>

</div>