<div id="errorMobile">
	<div id="logo">
		<h2>a short</h2>
		<h1>journey</h1>
	</div>
	<div id="error-content">
		<h3>Take a deep breath<br>to begin 2016 and visit</h3>
		<h3><a href="http://ashortjourney.com">www.ashortjourney.com</a></h3>
		<h3>On your computer <br> or your tablet</h3>
		<h2>Enjoy the ride!</h2>
	</div>
</div>