<div id="error">
	<div id="logo">
		<h2>a short</h2>
		<h1>journey</h1>
	</div>
	<div id="error-content">
		<h3>To enjoy the experience<br> please turn your tablet and enjoy the ride</h3>
	</div>
	<img src="dist/img/0_picto_ipad.png"></img>
</div>