<div id="intro">
	
	<div id="intro-content">
		<h2>a short</h2>
		<h1><span>j</span><span>o</span><span>u</span><span>r</span><span>n</span><span>e</span><span>y</span></h2>
		<div id="intro-sub-title"></div>
		<div id="loading">
			<div id="loading-circle"></div>
		</div>
		<div id="intro-cloud-1"></div>
		<div id="intro-cloud-2"></div>
		<h1 id="ipadButton">ENJOY THE RIDE!</h1>
		

	</div>

</div>