<div id="old">
	<div id="logo">
		<h2>a short</h2>
		<h1>journey</h1>
	</div>
	<div id="old-content">
		<h3>This site is optimized for modern browsers. <br> It may be time to update your own</h3>
		<h3><a href="https://www.google.fr/chrome/browser/desktop/" target="_blank">Update Google Chrome</a></h3>
	</div>
</div>