<div id="postcard">
	<div id="postcard-content">
		<div id="postcard-back">
			<div id="postcard-back-content">
				
				<img src="dist/img/8_PHOTO_BACK_stamp.png"></img>
				<h1>POSTCARD</h1>
				<h2 id="thnks">Thanks for sharing!</h2>
				<h2 id="postcard-error">Please write here a message to your friends!</h2>
				<h2 id="postcard-instructions" class="display">Your message here</h2>
				<textarea></textarea>
				<ul>
					<li id="postcard-share-tw"><a target="_blank">SEND ON TWITTER</a></li>
					<li id="postcard-share-fb"><a>SEND ON FACEBOOK</a></li>
				</ul>
				<a id="postcard-continue-button">OR CONTINUE THE STORY</a>
			</div>
		</div>
		<div id="postcard-front">
			<img src="dist/img/5_PHOTO_carte_front.jpg"></img>
		</div>
	</div>
</div>