<div id="ui">
	<ul id="ui-left">
	    <li id="ui-intro"><a href="">a short journey</a></li>
	    <li>•</li>
	    <li id="ui-credits">CREDITS</li>
	</ul>
	<ul id="ui-right">
			<li><a target="_blank" href="http://twitter.com/share?text=Take a deep breath to begin 2016 and enjoy the ride&url=http://ashortjourney.com&hashtags=AShortJourney"></a></li>
			<li><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fashortjourney.com"></a></li>
	    <li>SHARE</li>
	    <li>•</li>
	    <li id="ui-sound"><a></a></li>
	    <li>SOUND</li> 
	</ul>
</div>